
body {
  margin: 0;
  padding: 0;
  background-color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
  display: flex;
  justify-content: center;
}

ul li {
  margin: 15px;
}

ul li {
  float: center;
}

ul li a {
  display: block;
  padding: 14px 16px;
  text-decoration: none;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
ul li a:hover {
  background-color: #660000;
  border-radius: 30px;
  text-color: white;
  
}
a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;

}

  text-shadow {
    :0 0 4px #00001A,
    :0 0 8px #00001A;
}
