body {
  background-color:#660000;
}

h2, h4 { 
color: white;
text-align: left;
font-family: serif;
}

p { 
color: black;
text-align: left;
font-family: serif;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100:
height: 80;
}

div {
  background-color: white;
}
